.git
.github
.idea
.vscode
.editorconfig
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
.env
.env.*
!.env.example
tests
phpunit.xml
docker-compose.yml
README.md
DOCKERIZE.md
data_analysis.ipynb
_ide_helper.php
